Repository MuttData/muttlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, pylint, isort, pytest, linter, bandit

black:
  name: black
  entry: poetry run black
  language: system
  args:
  - --skip-string-normalization

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pytest:
  name: pytest
  language: system
  entry: poetry run nox --session tests
  stages:
  - push
  pass_filenames: false

linter:
  name: linter
  language: system
  entry: poetry run nox --session precommit_hooks
  stages:
  - push
  pass_filenames: false

bandit:
  name: bandit
  language: system
  entry: poetry run nox --session bandit
  stages:
  - push
  pass_filenames: false

(wip) set id for tag output
  .github/workflows/version.yml
Due: none

(wip) bump version
  .bumpversion.cfg
  .github/workflows/version.yml
  CHANGELOG.md
Due: none

add libraries for sqlalchemy 1.4
  poetry.lock
  pyproject.toml
Due: none

rename numpy object dtype
  muttlib/utils.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

change ibis import path
  muttlib/dbconn/ibis.py
  tests/dbconn/test_ibis.py
Due: black, mypy, isort, pytest, linter, bandit

support immutable sqlalchemy url
  muttlib/dbconn/base.py
Due: black, mypy, isort, pytest, linter, bandit

add implicit optionals
  muttlib/dbconn/snowflake.py
  muttlib/gsheetsconn.py
  muttlib/utils.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

upgrade ipython
  poetry.lock
  pyproject.toml
Due: none

ipython version was 8.0.1
  poetry.lock
  pyproject.toml
Due: none

Revert "ipython version was 8.0.1"
  poetry.lock
  pyproject.toml
Due: none

Revert "upgrade ipython"
  poetry.lock
  pyproject.toml
Due: none

Remove outdated wrapt
  poetry.lock
  pyproject.toml
Due: none

allow sqlalchemy ver 1.3
  muttlib/dbconn/base.py
  poetry.lock
  pyproject.toml
Due: black, mypy, isort, pytest, linter, bandit

avoid snowflake-sqlalchemy 1.2.5
  poetry.lock
  pyproject.toml
Due: none

isort
  muttlib/dbconn/base.py
Due: black, mypy, isort, pytest, linter, bandit

Support python 3.11
  pyproject.toml
Due: none

docs: poetry version 1.3.2
  CONTRIBUTING.md
  README.md
Due: none

chore: support python 3.10, not 3.11; minor upgrade of a couple of deps
  poetry.lock
  pyproject.toml
Due: none

bump to 1.4.20, changelog
  CHANGELOG.md
  pyproject.toml
Due: none

chore: update version workflow to run on closed PR, bumb version
  .bumpversion.cfg
  .github/workflows/version.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: upgrade mypy to 1.1.1, change format to specify dev deps
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: none

typing: add Optional[ ] where appropriate (now required)
  muttlib/dbconn/snowflake.py
  muttlib/gsheetsconn.py
  muttlib/utils.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

black
  pyproject.toml
Due: none

RFC: GitHub Actions (#4)
  .bumpversion.cfg
  .github/workflows/test.yml
  .github/workflows/validate.yml
  .github/workflows/version.yml
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

chore: update workflows to run with python 3.10, poetry 1.3.2
  .github/workflows/test.yml
  .github/workflows/validate.yml
  .github/workflows/version.yml
Due: none

fix: change branch on version action
  .github/workflows/version.yml
Due: none

chore: remove pystan dependency, add python3.10 to noxfile
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, mypy, pylint, isort, pytest, linter, bandit

fix: change poetry command
  .github/workflows/test.yml
Due: none

fix(ci): install more deps to run lint job, lint
  .github/workflows/test.yml
  .github/workflows/validate.yml
  .github/workflows/version.yml
  pyproject.toml
Due: none

changelog
  CHANGELOG.md
Due: none

fix: version GA to run on merged PRs
  .bumpversion.cfg
  .github/workflows/version.yml
  CHANGELOG.md
Due: none

RFC: version GA to run on merged PRs only (#7)
  .bumpversion.cfg
  .github/workflows/version.yml
  CHANGELOG.md
Due: none

add support for python 3.11. Update bigquery to 3.5.0
  poetry.lock
  pyproject.toml
Due: none

bump pyproject.toml version
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$, but not: docs/*
  mypy: any of: \.py$, but not: docs/*
  pylint: any of: \.py$, but not: (docs/|muttlib/dbconn/|tests/)
  isort: any of: \.py$, but not: (docs/)
  pytest: any of: \.py$
  linter: any of: \.py$
  bandit: any of: \.py$
