Repository MuttData/muttlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, pylint, isort, pytest, linter, bandit

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [python]
      args: [--skip-string-normalization]
      exclude: docs/*
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: trailing-whitespace
    - id: requirements-txt-fixer
-   repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: docs/*
-   repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: poetry run pylint
      language: system
      types: [python]
      exclude: (docs/|muttlib/dbconn/|tests/)
-   repo: local
    hooks:
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
      exclude: (docs/)
-   repo: local
    hooks:
    - id: pytest
      name: pytest
      language: system
      entry: poetry run nox --session tests
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: linter
      name: linter
      language: system
      entry: poetry run nox --session precommit_hooks
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: bandit
      name: bandit
      language: system
      entry: poetry run nox --session bandit
      types: [python]
      stages: [push]
      pass_filenames: false

linting
  .pre-commit-config.yaml
  muttlib/gsheetsconn.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, mypy, pylint, isort, pytest, linter, bandit

Adding autosummary extension for docs
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/muttlib.rst
  docs/source/readme.rst
Due: pytest, linter, bandit

Changed classes and modules sphinx templates
  docs/source/_templates/autosummary/classes.rst
  docs/source/_templates/autosummary/modules.rst
Due: none

Update gdrive module to meet numpydoc style guide
  muttlib/gdrive.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

Fix isort issue for gdrive module
  muttlib/gdrive.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

add hooks
  .pre-commit-config.yaml
Due: none

fix
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Run with poetry
  .gitlab-ci.yml
Due: none

fixes
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  setup.cfg
  setup.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

install guide for poetry
  CONTRIBUTING.md
Due: none

note on poetry and rm credits
  README.md
Due: none

add hook to fix all extra
  .pre-commit-config.yaml
  hooks/toml_write_all_list.py
  poetry.lock
  pyproject.toml
Due: black, mypy, pylint, isort, pytest, linter, bandit

fix ibis
  .gitlab-ci.yml
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, mypy, pylint, isort, pytest, linter, bandit

fix
  README.md
Due: none

hotfix
  .gitlab-ci.yml
Due: none

cache nox/
  .gitlab-ci.yml
Due: none

is joaco our hero?
  .gitlab-ci.yml
  pyproject.toml
Due: none

nox is missing
  .gitlab-ci.yml
Due: none

install before
  .gitlab-ci.yml
Due: none

Revert "install before"
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

cache?
  .gitlab-ci.yml
Due: none

debug
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

redo lock
  noxfile.py
  poetry.lock
Due: black, mypy, pylint, isort, pytest, linter, bandit

disclaimer after complaints
  README.md
Due: none

RFC: poetry is like a bird, it ignores all frontiers
  .bumpversion.cfg
  .coveragerc
  .flake8
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  bandit.yaml
  hooks/toml_write_all_list.py
  muttlib/__init__.py
  muttlib/gsheetsconn.py
  mypy.ini
  noxfile.py
  poetry.lock
  pyproject.toml
  setup.cfg
  setup.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

fix poetry repo for deploy
  .gitlab-ci.yml
Due: none

Fix sphinx-build, as in upcoming MR
  docs/Makefile
  docs/make.bat
Due: none

post release
  .bumpversion.cfg
  pyproject.toml
Due: none

Include license in sdist
  MANIFEST.in
Due: none

Bump version and update changelog
  .bumpversion.cfg
  CHANGELOG.md
  pyproject.toml
Due: none

RFC: Resolve "Sphinx/Docs auto discover sub/nested modules"
  .bumpversion.cfg
  .gitlab-ci.yml
  CHANGELOG.md
  docs/source/_templates/autosummary/classes.rst
  docs/source/_templates/autosummary/modules.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/muttlib.rst
  docs/source/readme.rst
  muttlib/gdrive.py
  pyproject.toml
Due: black, mypy, pylint, isort, pytest, linter, bandit

bumb version sqlalchemy, python and several dependencies
  poetry.lock
  pyproject.toml
Due: none

updated changelog and version
  .bumpversion.cfg
  CHANGELOG.md
  pyproject.toml
Due: none

rewrote some lines to implement all the three fixes commented in issue 183
  muttlib/dbconn/base.py
  muttlib/dbconn/ibis.py
  pyproject.toml
  tests/dbconn/test_ibis.py
Due: black, mypy, isort, pytest, linter, bandit
