Repository MuttData/muttlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, pylint, pytest, linter, bandit, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      args: [--skip-string-normalization]
      exclude: docs/*
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: trailing-whitespace
    - id: requirements-txt-fixer
-   repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      exclude: docs/*
-   repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      exclude: (docs/|muttlib/dbconn/|tests/)
-   repo: local
    hooks:
    - id: pytest
      name: pytest
      language: system
      entry: nox --session tests
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: linter
      name: linter
      language: system
      entry: nox --session cop
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: bandit
      name: bandit
      language: system
      entry: nox --session bandit
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: isort
      name: isort
      language: system
      entry: nox --session isort
      types: [python]
      stages: [push]
      pass_filenames: false

Revert "Merge branch '44-add-isort-5-to-ci' into 'master'"
  .bumpversion.cfg
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  muttlib/__init__.py
  noxfile.py
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

add isort 5
  .pre-commit-config.yaml
  README.md
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

bump
  .bumpversion.cfg
  muttlib/__init__.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

changelog
  CHANGELOG.md
Due: none

fix dependency
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

manually fix version
  setup.cfg
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

run isort
  muttlib/dbconn/__init__.py
  muttlib/dbconn/base.py
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/hive.py
  muttlib/dbconn/ibis.py
  muttlib/dbconn/snowflake.py
  muttlib/dbconn/teradata.py
  muttlib/file_processing.py
  muttlib/forecast.py
  muttlib/gdrive.py
  muttlib/gsheetsconn.py
  muttlib/plotting/plot.py
  muttlib/utils.py
  pylintrc
  setup.cfg
Due: black, mypy, pylint, pytest, linter, bandit, isort

run isort
  tests/dbconn/test_bigquery.py
  tests/dbconn/test_engine_base.py
  tests/dbconn/test_hive.py
  tests/dbconn/test_ibis.py
  tests/dbconn/test_mongo.py
  tests/dbconn/test_mysql.py
  tests/dbconn/test_oracle.py
  tests/dbconn/test_sqlite.py
  tests/dbconn/test_teradata.py
  tests/test_file_processing.py
  tests/test_forecast.py
  tests/test_gdrive.py
  tests/test_plotting.py
  tests/test_utils.py
Due: black, mypy, pytest, linter, bandit, isort

RFC: Isort5
  .bumpversion.cfg
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  muttlib/__init__.py
  muttlib/dbconn/__init__.py
  muttlib/dbconn/base.py
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/hive.py
  muttlib/dbconn/ibis.py
  muttlib/dbconn/snowflake.py
  muttlib/dbconn/teradata.py
  muttlib/file_processing.py
  muttlib/forecast.py
  muttlib/gdrive.py
  muttlib/gsheetsconn.py
  muttlib/plotting/plot.py
  muttlib/utils.py
  pylintrc
  setup.cfg
  setup.py
  tests/dbconn/test_bigquery.py
  tests/dbconn/test_engine_base.py
  tests/dbconn/test_hive.py
  tests/dbconn/test_ibis.py
  tests/dbconn/test_mongo.py
  tests/dbconn/test_mysql.py
  tests/dbconn/test_oracle.py
  tests/dbconn/test_sqlite.py
  tests/dbconn/test_teradata.py
  tests/test_file_processing.py
  tests/test_forecast.py
  tests/test_gdrive.py
  tests/test_plotting.py
  tests/test_utils.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

changed nox session of precommit hooks
  .gitlab-ci.yml
  .pre-commit-config.yaml
  noxfile.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

updated patch version
  .bumpversion.cfg
  CHANGELOG.md
  muttlib/__init__.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

trim trailing whitspace on changelog by precommit hooks run locally
  CHANGELOG.md
Due: none

trailing whitespaces trimmed by pre-commit hooks
  muttlib/utils.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

version updated
  .bumpversion.cfg
  CHANGELOG.md
  muttlib/__init__.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

RFC: Resolve "Change cop nox session to a more descriptive one"
  .bumpversion.cfg
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  muttlib/__init__.py
  noxfile.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

Update copyright year in docs
  .bumpversion.cfg
  CHANGELOG.md
  LICENCE
  docs/source/conf.py
  muttlib/__init__.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

Bump trino version
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

Update CHANGELOG.md
  CHANGELOG.md
Due: none

bump trino version to 0.4.1
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

update version
  .bumpversion.cfg
  CHANGELOG.md
  muttlib/__init__.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

changed format of warnings
  muttlib/utils.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

RFC: Bump trino version
  .bumpversion.cfg
  CHANGELOG.md
  muttlib/__init__.py
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

Fix: Pin mistune version
  CHANGELOG.md
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

RFC: Update copyright year in docs
  .bumpversion.cfg
  CHANGELOG.md
  LICENCE
  docs/source/conf.py
  muttlib/__init__.py
  setup.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

RFC: Resolve "Add note in docstring for functions that modify original df from /muttlib/ files except /muttlib/dbconn/*"
  .bumpversion.cfg
  CHANGELOG.md
  muttlib/__init__.py
  muttlib/utils.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

fixed identation bug on docstring generation
  muttlib/utils.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

updated version
  .bumpversion.cfg
  CHANGELOG.md
  muttlib/__init__.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

RFC: Fix docstring indentation
  .bumpversion.cfg
  CHANGELOG.md
  muttlib/__init__.py
  muttlib/utils.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

jinja
  muttlib/dbconn/base.py
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/hive.py
  muttlib/jinja/__init__.py
  muttlib/jinja/exceptions.py
  muttlib/jinja/filters.py
  muttlib/jinja/templating.py
  muttlib/utils.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

bump
  .bumpversion.cfg
  CHANGELOG.md
  muttlib/__init__.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

rm cfg files
  .coveragerc
  .flake8
  CONTRIBUTING.md
  bandit.yaml
  mypy.ini
  pylintrc
  pyproject.toml
  setup.cfg
Due: none

fix toml
  pyproject.toml
Due: none

IDK, is this a patch? I guess so
  .bumpversion.cfg
  muttlib/__init__.py
  pyproject.toml
Due: black, mypy, pylint, pytest, linter, bandit, isort

Revert "IDK, is this a patch? I guess so"
  .bumpversion.cfg
  muttlib/__init__.py
  pyproject.toml
Due: black, mypy, pylint, pytest, linter, bandit, isort

version check
  .bumpversion.cfg
  .gitlab-ci.yml
  muttlib/__init__.py
Due: black, mypy, pylint, pytest, linter, bandit, isort

use other file
  .gitlab-ci.yml
Due: none

bump
  .bumpversion.cfg
  pyproject.toml
Due: none

fix?
  .gitlab-ci.yml
Due: none

fix extras
  poetry.lock
  pyproject.toml
Due: none
