Repository MuttData/muttlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, pylint, isort, pytest, linter, bandit

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: trailing-whitespace
    - id: check-merge-conflict
    - id: check-toml
    - id: debug-statements
-   repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [python]
      args: [--skip-string-normalization]
      exclude: docs/*
    - id: mypy
      name: mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: docs/*
    - id: pylint
      name: pylint
      entry: poetry run pylint
      language: system
      types: [python]
      exclude: (docs/|muttlib/dbconn/|tests/)
    - id: isort
      name: isort
      entry: poetry run isort
      language: system
      types: [python]
      exclude: (docs/)
    - id: pytest
      name: pytest
      language: system
      entry: poetry run nox --session tests
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: linter
      name: linter
      language: system
      entry: poetry run nox --session precommit_hooks
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: bandit
      name: bandit
      language: system
      entry: poetry run nox --session bandit
      types: [python]
      stages: [push]
      pass_filenames: false
    - id: fix_all_extra
      name: fix_all_extra
      language: system
      entry: poetry run python hooks/toml_write_all_list.py
      stages: [push]
      pass_filenames: false

changed ibis connection and update poetry dependencies
  muttlib/dbconn/ibis.py
  poetry.lock
Due: black, mypy, isort, pytest, linter, bandit

removed fssec and changed tests
  muttlib/dbconn/ibis.py
  tests/dbconn/test_ibis.py
Due: black, mypy, isort, pytest, linter, bandit

Fix: Docs broken links
  CONTRIBUTING.md
  LICENCE
  README.md
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/index.rst
Due: pytest, linter, bandit

bump version and update changelog
  .bumpversion.cfg
  CHANGELOG.md
  CONTRIBUTING.md
  pyproject.toml
Due: none

RFC: Docs broken links
  .bumpversion.cfg
  CHANGELOG.md
  CONTRIBUTING.md
  LICENCE
  README.md
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/index.rst
  pyproject.toml
Due: pytest, linter, bandit

Adding type hinting to CI
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Due: none

Bumping version
  .bumpversion.cfg
  CHANGELOG.md
  pyproject.toml
Due: none

Fix github security issue
  .pre-commit-config.yaml
Due: none

updated dependencies
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/source/conf.py
  muttlib/dbconn/__init__.py
  muttlib/dbconn/base.py
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/hive.py
  muttlib/dbconn/ibis.py
  muttlib/dbconn/mongo.py
  muttlib/dbconn/mysql.py
  muttlib/dbconn/oracle.py
  muttlib/dbconn/postgres.py
  muttlib/dbconn/snowflake.py
  muttlib/dbconn/sqlite.py
  muttlib/dbconn/sqlserver.py
  muttlib/dbconn/teradata.py
  muttlib/file_processing.py
  muttlib/forecast.py
  muttlib/gdrive.py
  muttlib/gsheetsconn.py
  muttlib/utils.py
  poetry.lock
  pyproject.toml
  tests/dbconn/test_bigquery.py
  tests/dbconn/test_engine_base.py
  tests/dbconn/test_helpers.py
  tests/dbconn/test_ibis.py
  tests/dbconn/test_mysql.py
  tests/dbconn/test_oracle.py
  tests/dbconn/test_postgres.py
  tests/dbconn/test_redshift.py
  tests/dbconn/test_sqlite.py
  tests/dbconn/test_sqlserver.py
  tests/dbconn/test_trino.py
  tests/test_file_processing.py
  tests/test_forecast.py
  tests/test_gdrive.py
  tests/test_plotting.py
  tests/test_utils.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

lint: reorder dependencies
  pyproject.toml
Due: none

fix: nox version
  noxfile.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

deps: downgrade pyyaml
  poetry.lock
  pyproject.toml
Due: none

fix: bumpversion
  .bumpversion.cfg
Due: none

pipe: Upgrade python version and added dev dependency
  .gitlab-ci.yml
Due: none

Doc: add extra verbosity to nox
  noxfile.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

fix: Nox unnecesary installs
  muttlib/dbconn/oracle.py
  noxfile.py
  poetry.lock
Due: black, mypy, pylint, isort, pytest, linter, bandit

fix: update nox
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, mypy, pylint, isort, pytest, linter, bandit

lint: revert lint
  muttlib/dbconn/__init__.py
  muttlib/dbconn/base.py
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/hive.py
  muttlib/dbconn/ibis.py
  muttlib/dbconn/mongo.py
  muttlib/dbconn/mysql.py
  muttlib/dbconn/oracle.py
  muttlib/dbconn/postgres.py
  muttlib/dbconn/sqlite.py
  muttlib/dbconn/sqlserver.py
  muttlib/dbconn/teradata.py
  muttlib/file_processing.py
  muttlib/forecast.py
  muttlib/gdrive.py
  muttlib/gsheetsconn.py
  muttlib/utils.py
  pyproject.toml
Due: black, mypy, pylint, isort, pytest, linter, bandit

feat: minimal gitlab-ci
  .gitlab-ci.yml
Due: none

lint: rollback lint
  docs/source/conf.py
  tests/dbconn/test_bigquery.py
  tests/dbconn/test_engine_base.py
  tests/dbconn/test_mysql.py
  tests/dbconn/test_oracle.py
  tests/dbconn/test_postgres.py
  tests/dbconn/test_redshift.py
  tests/dbconn/test_sqlite.py
  tests/dbconn/test_sqlserver.py
  tests/dbconn/test_trino.py
  tests/test_file_processing.py
  tests/test_forecast.py
  tests/test_gdrive.py
  tests/test_plotting.py
  tests/test_utils.py
Due: black, mypy, isort, pytest, linter, bandit

Fix: nox-poetry
  .gitlab-ci.yml
Due: none

fix: CI image
  .gitlab-ci.yml
Due: none

fix: poetry no virtualenv
  .gitlab-ci.yml
Due: none

Add mypy explanation to contributing
  CONTRIBUTING.md
Due: none

fix: pipe
  .gitlab-ci.yml
  noxfile.py
  poetry.lock
Due: black, mypy, pylint, isort, pytest, linter, bandit

doc: fix typo
  CHANGELOG.md
Due: none

[RFC] Upgrade dependencies
  .bumpversion.cfg
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/ibis.py
  muttlib/dbconn/snowflake.py
  muttlib/forecast.py
  muttlib/gsheetsconn.py
  muttlib/utils.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/dbconn/test_bigquery.py
  tests/dbconn/test_engine_base.py
  tests/dbconn/test_helpers.py
  tests/dbconn/test_ibis.py
  tests/dbconn/test_sqlite.py
  tests/dbconn/test_sqlserver.py
  tests/test_file_processing.py
  tests/test_forecast.py
  tests/test_plotting.py
  tests/test_utils.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

fix: pipeline in deploy and pages steps
  .gitlab-ci.yml
  CHANGELOG.md
  pyproject.toml
Due: none

Fix: post1 version
  CHANGELOG.md
  pyproject.toml
Due: none

fix: dumpversion
  .bumpversion.cfg
Due: none

chore: Bump those numbers up
  .bumpversion.cfg
  CHANGELOG.md
  pyproject.toml
Due: none

Revert "Merge branch 'upgrade-dependencies' into 'master'"
  .bumpversion.cfg
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/ibis.py
  muttlib/dbconn/snowflake.py
  muttlib/forecast.py
  muttlib/gsheetsconn.py
  muttlib/utils.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/dbconn/test_bigquery.py
  tests/dbconn/test_engine_base.py
  tests/dbconn/test_helpers.py
  tests/dbconn/test_ibis.py
  tests/dbconn/test_sqlite.py
  tests/dbconn/test_sqlserver.py
  tests/test_file_processing.py
  tests/test_forecast.py
  tests/test_plotting.py
  tests/test_utils.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

update dependencies
  poetry.lock
  pyproject.toml
Due: none

run pre-commit hooks
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/ibis.py
  muttlib/dbconn/snowflake.py
  muttlib/forecast.py
  muttlib/gsheetsconn.py
  muttlib/utils.py
  tests/dbconn/test_bigquery.py
  tests/dbconn/test_engine_base.py
  tests/dbconn/test_helpers.py
  tests/dbconn/test_ibis.py
  tests/dbconn/test_sqlite.py
  tests/dbconn/test_sqlserver.py
  tests/test_file_processing.py
  tests/test_forecast.py
  tests/test_plotting.py
  tests/test_utils.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

bump patch
  .bumpversion.cfg
  pyproject.toml
Due: none

fix all group
  pyproject.toml
Due: none

pinned Jinja to 3.0.1 and updated black to 22.3.0
  muttlib/dbconn/bigquery.py
  muttlib/dbconn/ibis.py
  muttlib/dbconn/snowflake.py
  muttlib/forecast.py
  muttlib/gsheetsconn.py
  muttlib/utils.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/dbconn/test_bigquery.py
  tests/dbconn/test_engine_base.py
  tests/dbconn/test_helpers.py
  tests/dbconn/test_ibis.py
  tests/dbconn/test_sqlite.py
  tests/dbconn/test_sqlserver.py
  tests/test_file_processing.py
  tests/test_forecast.py
  tests/test_plotting.py
  tests/test_utils.py
Due: black, mypy, pylint, isort, pytest, linter, bandit

fix markupsafe, jinja and some other jazz
  poetry.lock
  pyproject.toml
Due: none

changelog
  CHANGELOG.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none
